.sidebar {
  width: 240px;
  background-color: #05096e;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.sidebar p {
    color: #FFFFFF;
}

.sidebar a {
    color: #FFFFFF;
    text-decoration: none;
}

.sidebar img {
  width: 80px;
  margin-bottom: 10px;
}


.menu {
  margin-top: 20px;
  width: 100%;
}

.menu-item {
  padding: 14px 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}

.menu-item:hover,
.menu-item.active {
  background-color: white;
  color: #05096e;
}

.menu-item i {
  margin-right: 10px;
}

.footer {
  margin-top: auto;
  padding: 20px;
  font-size: 10px;
  text-align: center;
  color: #FFFFFF;
}
 /* .sidebar a:hover {
    background-color: #FFFFFF;
    color: #03045E;
    animation: ease in 0.3s;
    display: flex;
    width: 100%;
}  */

.head-content {
    background-color: #03045E;
    z-index: 1000;
    width: 22%;
    height: 20vh;
    position: absolute;
    top: 0;
    margin-left: 350px;
    margin-top: 30px;
    border-radius: 30px;
}

.title {
    color: #FFFFFF;
    margin-left: 30px;
    margin-top: 30px;
}

.main-card {
    background-color: #03045E;
    width: 40vw;
    height: 20vh;
    border-radius: 30px;
    display: flex;
    gap: 2rem;
    position: absolute;
    top: 0;
    margin-left: 300px;
}


.card {
    padding: 1rem;
    margin-left: 10px;
}

.card h4 {
    color: #FFFFFF;
    margin-top: 20px;
}

.card p {
    color: #FFFFFF;
}

.searching {
    background-color: #F1F1F1;
    width: 50%;
    position: absolute;
    top: 0;
    margin-top: 30vh;
    z-index: 1000;
    margin-left: 33vw;
    height: 7vh;
}

.search p {
    opacity: 30%;
    margin-top: 9px;
    margin-left: 15px;
}

table th td{
    border: 1px solid black;
    z-index: 1000;
    width: 22%;
    height: 20vh;
    position: absolute;
    top: 40%;
    margin-left: 350px;

}

table {
      width: 65%;
      border-collapse: collapse;
      background-color: #fff;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      position: absolute;
    top: 40%;
    margin-left: 350px;
    margin-top: 30px;
    z-index: 1000;
    }

    th, td {
      padding: 12px 15px;
      text-align: center;
      border-bottom: 1px solid #ddd;
    }

    thead {
      background-color: #03045E;
      color: white;
    }

    button {
      padding: 6px 12px;
      margin: 2px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    button:first-child {
      background-color: #2196F3;
      color: white;
    }

    button:last-child {
      background-color: #f44336;
      color: white;
    }