.searching {
    background-color: #F1F1F1;
    width: 70%;
    position: absolute;
    top: 0;
    margin-top: 10vh;
    z-index: 1000;
    margin-left: 25vw;
    height: 7vh;
}

table th td{
    border: 1px solid black;
    z-index: 1000;
    width: 22%;
    height: 20vh;
    position: absolute;
    top: 40%;
    margin-left: 350px;

}

table {
      width: 70%;
      border-collapse: collapse;
      background-color: #fff;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      position: absolute;
    top: 20%;
    margin-left: 320px;
    margin-top: 30px;
    z-index: 1000;
    }

    th, td {
      padding: 12px 15px;
      text-align: center;
      border-bottom: 1px solid #ddd;
    }

    thead {
      background-color: #03045E;
      color: white;
    }

    button {
      padding: 6px 12px;
      margin: 2px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    button:first-child {
      background-color: #2196F3;
      color: white;
    }

    button:last-child {
      background-color: #f44336;
      color: white;
    }