h2 {
    text-align: center;
}

form {
      max-width: 500px;
      margin: auto;
    }
label {
      display: block;
      margin-top: 10px;
    }
input[type="text"], input[type="number"] {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      box-sizing: border-box;
    }
button {
      margin-top: 15px;
      padding: 10px 20px;
      cursor: pointer;
    }

    button, .btn-kembali {
      margin-top: 15px;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      text-decoration: none;
      display: inline-block;
    }

    .btn-kembali {
      background-color: #f44336;
      color: white;
      margin-left: 10px;
    }