.notification-card {
    margin-top: 50px;
    background-color: #F1F1F1;
    height: 17vh;
    border-radius: 30px;
    justify-content: space-between;
}

.notif-text {
    color: #000000;
    font-size: 13px;
    margin-top: 20px;
    margin-left: 30px;
}

.notif-text h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

