/* Reset dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  display: flex;
  background-color: #f8f8f8;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 240px;
  background-color: #05096e;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.sidebar img {
  width: 80px;
  margin-bottom: 10px;
}

.sidebar .school-info {
  text-align: center;
  font-size: 13px;
  padding: 10px 15px;
  font-weight: bold;
  color: white;
}

.menu {
  margin-top: 20px;
  width: 100%;
}

.menu-item {
  padding: 14px 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}

.menu-item:hover,
.menu-item.active {
  background-color: white;
  color: #05096e;
}

.menu-item i {
  margin-right: 10px;
}

.footer {
  margin-top: auto;
  padding: 20px;
  font-size: 10px;
  text-align: center;
}

/* Konten utama */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
}

.header h4 {
    margin-right: 65%;
}

.logout-btn {
  background: none;
  border: none;
  color: #333;
  font-size: 14px;
  cursor: pointer;
}

/* Card sambutan */
.welcome-card {
  margin-top: 40px;
  background-color: #05096e;
  color: white;
  padding: 30px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.welcome-card h1 {
  font-size: 28px;
}

.welcome-card p {
  font-size: 14px;
  margin-top: 10px;
}

.welcome-card i {
  font-size: 24px;
}

.menu-item {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}

.sidebar .icon {
    font-size: 50px;
    margin-top: 10px;
}

.icon {
    margin-bottom: 10px;
}

.sidebar p {
    font-weight: bold;
}
